* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  margin: 20px 0 40px;
  font-size: 1.8em;
}

p {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: #7262ff;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #241b72;
}
